<!-- Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">IBMI Biometrics</a></li>
            <li><a href="#">OpenMRS Home</a></li>
            <li><a href="#">New User</a></li>
            <li><a href="#">Identify</a></li>
            <li><a href="#">Build</a></li>
            <li><a href="#">Cameras</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Main -->
    <section id="main">
        <header>
            <span class="avatar"><img src="../images/mulogo.png" alt="" /></span>
        </header>
        <div class="demo-frame">
            <div class="demo-container">
                <video id="video" width="500" height="375" preload autoplay loop muted></video>
                <canvas id="canvas" width="500" height="375"></canvas>
                <canvas id="canvas_capture"></canvas>
            </div>
        </div>

        <div>
            <ul class="icons">
                <!-- li><a href="#" class="fa-twitter">Twitter</a></li -->
                <button type="button" ng-click="identifyFace()">Identify</button>
                <button id="buildButton" type="button" ng-click="identifyFace()">Build</button>
                <button id="captureButton" type="button" ng-click="takepicture()">Capture</button>
                <a href="" download="snapshot.webp"></a>
            </ul>
        </div>
    </section>

    <!-- Footer -->
    <!--<footer id="footer">
        <ul class="copyright">
            <li>&copy; Sight</li><li>IBMI: <a href="http://moi.ac.ke">MOI UNIVERSITY</a></li>
        </ul>
    </footer>-->

</div>