<div id="main-modal">
    <div class="modal-frame">
        <div class="image-container">
            <canvas ng-init="loadImage()" id="capturedImage"></canvas>
        </div>
    </div>

    <div>
        <ul class="icons-modal">
            <!-- li><a href="#" class="fa-twitter">Twitter</a></li -->
            <button type="button" ng-click="identifyFace()">Identify</button>
            <button type="button">Register</button>
            <button id="captureButton" type="button" ng-click="dismissModal()">Cancel</button>
            <a href="" download="snapshot.webp">
        </ul>
    </div>
</div>
